<apex:page controller="Sample12">
<apex:form >
    <apex:pageBlock id="pg">
        <apex:pageBlockButtons location="bottom">
            <apex:commandButton value="Show" action="{!show}"/>
        </apex:pageBlockButtons>
        <apex:pageBlockSection >
            <apex:pageBlockSectionItem >File<apex:inputFile value="{!fileForExport}"/></apex:pageBlockSectionItem>
        </apex:pageBlockSection>
    </apex:pageBlock>
   
    <apex:pageBlock rendered="{!showBool}">
        <apex:pageBlockTable value="{!listOutput}" var="o">  
            <apex:repeat value="{!o}" var="i">
                <apex:column value="{!i}"/>
            </apex:repeat>
        </apex:pageBlockTable>
    </apex:pageBlock>
</apex:form>
</apex:page>