<apex:page controller="Sample11" >
    <apex:form >
       <apex:pageblock id="Employee__c" title="Emp Details">
            <apex:pageblockTable value="{!mem}" var="m">
                <apex:column value="{!m.Name}"/>
                
            </apex:pageblockTable>          
        </apex:pageblock>           
    </apex:form>
</apex:page>