<apex:page controller="myControllr">
 <!-- Render and Rerender Demo -->
 <apex:form >
   <apex:pageBlock >
    <apex:commandButton value="Show Bottom Page Block" action="{!ShowBlockMethod}"/>
   </apex:pageBlock>   
   <apex:pageBlock rendered="{!ShowpageBlockFlag}">
    Account Name  :<apex:outputField value="{!accRec.name}"/><br></br>
    Account Number :<apex:outputField value="{!accRec.accountnumber}"/>
    <apex:outputPanel id="thePanel">My span</apex:outputPanel>
   </apex:pageBlock>
 </apex:form>
</apex:page>