<apex:page standardController="Student__c" extensions="StudentDetails" >
 <apex:form id="theform" >
         <apex:pageBlock id="theblock" >
             <div style="width:700px; margin:0 auto;">
                 <apex:outputText value="List of Students: "/>
                 <apex:selectList value="{!val}" multiselect="false" size="1">
                     <apex:actionSupport event="onchange"  action="{!showDetails}" status="thestatus" reRender="theform" />
                     <apex:selectOptions value="{!Options}"/>
                 </apex:selectList>
             </div>
         </apex:pageBlock>
         <apex:actionStatus id="thestatus" startText="Please Wait It's Loading....."></apex:actionStatus>
         <apex:detail subject="{!recId}"  relatedList="false" />        
     </apex:form>
</apex:page>