<apex:page standardController="account"> 
<apex:form id="changeDescription"> 
<apex:pageBlock > 
<apex:pageBlockSection columns="1">
 <apex:inputfield value="{!account.name}"/>
 <apex:inputtext value="{!account.accountnumber}"/>
 </apex:pageBlockSection> 
 <apex:commandButton value="Save" action="{!save}"/>
 </apex:pageBlock>
 </apex:form> 
 </apex:page>