<apex:page standardController="Account" extensions="NotesAttachmentModelController">
  <apex:form >
      <apex:pageBlock title="Notes & Attachment">
      <apex:pageBlockButtons >
          <apex:commandButton value="Add Note"/>
          <apex:commandButton value="Attach Fil"/>
          <apex:commandButton value="View All"/>
      </apex:pageBlockButtons>
          <apex:pageBlockTable value="{!modelList}" var="mod">
              <apex:column headerValue="Srno" value="{!mod.srno}"/>
              <apex:column value="{!mod.att.name}" headerValue="Name"/>
              <apex:column headerValue="Type">
              <apex:outputText value="{!mod.att.ContentType}"/>
              </apex:column>
              <apex:column headerValue="Owner">
              <apex:outputText value="{!mod.att.OwnerId}"/>
              </apex:column> 
              <apex:column headerValue="ParentId">
              <apex:outputText value="{!mod.att.ParentId}"/>
              </apex:column>
          </apex:pageBlockTable>
      </apex:pageBlock>
  </apex:form>
</apex:page>