<apex:page controller="Sample1" showHeader="true" >
<apex:pageBlock >
<apex:pageblockTable value="{!Acct}" var="A">
<apex:column value="{!A.Name}"/>
</apex:pageblocktable>
</apex:pageBlock>
</apex:page>