<apex:page controller="poistionController" showHeader="false">
<div align="center" width="550px">
<h1>Congratulations</h1>
       This is your new Page : <b>Hello World ...!</b><br />
      <b>
         <apex:outputText value="Your maximum salary could be AT MAXIMUM {!pos.Max_Pay__c}"/>
      </b>
   </div>
</apex:page>