<apex:page controller="Sample12" sidebar="false">
    <apex:pagemessages />
    <apex:form >
        // <apex:commandButton value="Sample12" disabled="{!disabl}" action="{!dis}"/>
        <apex:commandButton action="{!Sample12}" value="My Save & New" />
         </apex:form>
</apex:page>