<apex:page controller="Flosum.AddDestructiveChangesController">
<style>
div .pagination {
    text-align: center;
}
td .dataCell label {
font-weight: normal;
}
span.paginationEle {
margin-left: 4px;
}
.pagination input {
margin-left: 4px;
} 
</style>
    <c:Wait />  
    <apex:form id="form"> 
        <apex:pagemessages id="msg"/>
        <apex:pageBlock title="Add Destructive Items To Patch" id="pBlock" rendered="{!if(patchId != null,true,false)}">
            <apex:pageBlockButtons >
                <apex:commandButton value="Refresh List" action="{!listRecordType}" rendered="{!if(organisationId !=null && snapshotId !=null && metaItemList.size>0,true,false)}" oncomplete="hide();" rerender="form" onclick="show();"/>
                <apex:commandButton value="Add To Patch" action="{!performSavePatch}" rendered="{!if(availableMetatypes.size>0,true,false)}" oncomplete="hide();" rerender="form" onclick="show();"/>
            
                <apex:commandButton value="Refresh List" action="{!listSnapShot}" rendered="{!if(organisationId == 'repository' && componentList.size>0,true,false)}" oncomplete="hide();" rerender="form" onclick="show();"/>
                <apex:commandButton value="Add To Patch" action="{!componentSavePatch}" rendered="{!if(organisationId == 'repository' && componentList.size>0,true,false)}" oncomplete="hide();" rerender="form" onclick="show();"/>
            </apex:pageBlockButtons>
            
            <apex:pageBlockSection columns="1">
                 <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Patch Name:" />
                    <apex:outputText value="{!patchName}" />   
                 </apex:pageBlockSectionItem>
                 <apex:selectList label="Organization :" size="1" value="{!organisationId}" >
                    <apex:selectOptions value="{!organisationNames}" />
                    <apex:actionSupport event="onchange"  reRender="pBlock,msg" action="{!listSnapShot}" oncomplete="hide();" onsubmit="show();"/> 
                </apex:selectList>
                <apex:selectList label="Snapshot :" size="1" value="{!snapshotId}" rendered="{!if(organisationId != '' && organisationId != 'repository',true,false)}" id="snaplist">
                    <apex:selectOptions value="{!snapshotNames}"/>
                    <apex:actionSupport event="onchange" action="{!listRecordType}"  reRender="pBlock,msg" oncomplete="hide();" onsubmit="show();"/> 
                </apex:selectList> 
                      
                <apex:selectList value="{!selectedMetadataType}" multiselect="false" size="1" label="Metadata types :" rendered="{!if(availableMetatypes.size>0,true,false)}" >
                    <apex:selectoptions value="{!availableMetatypes}" /> 
                    <apex:actionSupport event="onchange" action="{!fillMetadataItems}"  reRender="tb,msg" oncomplete="hide();" onsubmit="show();"/>
                </apex:selectList>
                <apex:selectList value="{!selectedComponentType}" multiselect="false" size="1" label="Component Types :" rendered="{!if(compMetatypes.size>0 && organisationId == 'repository' ,true,false)}" >
                    <apex:selectoptions value="{!compMetatypes}" /> 
                    <apex:actionSupport event="onchange" action="{!fillComponentItems}"  reRender="cb,msg" oncomplete="hide();" onsubmit="show();"/>    
                </apex:selectList>              
            </apex:pageBlockSection>
            <apex:pageBlockSection id="cb" columns="1">
                <apex:outputpanel rendered="{!if(organisationId == 'repository' && componentList.size>0,true,false)}">
                    <apex:pageBlocktable value="{!componentList}" var="mi" rendered="{!if(componentList.size>0,true,false)}">
                        <apex:column headervalue="Select">
                            <apex:facet name="header"><input type="checkbox" onclick="checkItemAll(this);" styleclass="sli" >&nbsp;</input></apex:facet>
                            <apex:inputCheckbox value="{!mi.checkStatus}" styleclass="sli"/>
                        </apex:column>
                        <apex:column value="{!mi.comp.Flosum__Component_Type__c}" />
                        <apex:column value="{!mi.comp.Flosum__Component_Name__c}" />
                        <apex:column value="{!mi.comp.Flosum__Version__c}" />
                        <apex:column value="{!mi.comp.LastModifiedDate}" />
                        <apex:column value="{!mi.comp.LastModifiedById}" />
                    </apex:pageBlocktable>
                    <apex:outputPanel layout="block" styleClass="pagination">
                            <apex:commandbutton value="First" action="{!componentFirstPage}" reRender="cb,msg" disabled="{!ComponentPrev}" onClick="show();" onComplete="hide();"/>
                            <apex:commandbutton value="Previous" action="{!componentPrevious}" reRender="cb,msg" disabled="{!ComponentPrev}" onClick="show();" onComplete="hide();"/>
                            <apex:outputText value="{!paginationStr}" styleClass="paginationEle"/>
                            <apex:commandbutton value="Next" action="{!componentNext}" reRender="cb,msg" disabled="{!ComponentNxt}" onClick="show();" onComplete="hide();"/>
                            <apex:commandbutton value="Last" action="{!componentLastPage}" reRender="cb,msg" disabled="{!ComponentNxt}" onClick="show();" onComplete="hide();"/>
                    </apex:outputPanel>
                </apex:outputPanel> 
            </apex:pageBlockSection>
            <!--Display all type related to metadata type -->
            <apex:pageBlockSection id="tb" columns="1">
                <apex:pageBlocktable value="{!metaItemList}" var="mi" rendered="{!if(metaItemList.size>0,true,false)}">
                    <apex:column headervalue="Select">
                        <apex:facet name="header"><input type="checkbox" onclick="checkItemAll(this);" styleclass="sli" >&nbsp;</input></apex:facet>
                        <apex:inputCheckbox value="{!mi.checkStatus}" styleclass="sli"/>
                    </apex:column>
                    <apex:column headervalue="Full Name"><apex:outputLabel value="{!mi.meta.Flosum__API_Name__c}" /></apex:column>
                    <apex:column headervalue="Last Modified Date"><apex:outputLabel value="{!mi.meta.Flosum__Last_Modified_Date__c}" /></apex:column>
                    <apex:column headervalue="Last Modified By"><apex:outputLabel value="{!mi.meta.Flosum__Last_Updated_By__c}" /></apex:column>
                    <apex:column headervalue="Created By"><apex:outputLabel value="{!mi.meta.CreatedById}" /></apex:column> 
                </apex:pageBlocktable>
                <apex:outputPanel rendered="{!if(metaItemList.size > 0,true,false)}" layout="block" styleClass="pagination">
                        <apex:commandbutton value="First" action="{!FirstPage}" reRender="tb,msg" disabled="{!prev}" onClick="show();" onComplete="hide();"/>
                        <apex:commandbutton value="Previous" action="{!previous}" reRender="tb,msg" disabled="{!prev}" onClick="show();" onComplete="hide();"/>
                        <apex:outputText value="{!paginationStr}" styleClass="paginationEle"/>
                        <apex:commandbutton value="Next" action="{!next}" reRender="tb,msg" disabled="{!nxt}" onClick="show();" onComplete="hide();"/>
                        <apex:commandbutton value="Last" action="{!LastPage}" reRender="tb,msg" disabled="{!nxt}" onClick="show();" onComplete="hide();"/>
                </apex:outputPanel>
            </apex:pageBlockSection>
        </apex:pageBlock>

    </apex:form>
</apex:page>